<ion-header>
  <ion-toolbar>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    
<div id="tooplate_main">
    
<div class="col_w960">
            
  <div style="margin:40px">
    <div id="container">
      <div id="tabbox">
        <a id="signup" class="tab signup" (click)="clicked($event)">Signup</a>
        <a id="login" class="tab login select" (click)="clicked($event)">Login</a>
      </div>
      <div id="panel">
    
			<div id="loginbox">
        <h1>Login Form</h1>
				<form action="" method="post">
					<label>Shop Name :</label>
					<input type="text" name="username"/><br />
					<label> Password :</label>
					<input type="password" name="password"/><br/>
					<input type="submit" value=" Log in " (click)="request()" /><br />
				</form>
        </div>
        
        <div id="signupbox">
          <h1>Singup Form</h1>
          <form action="" method="post">
            <label>Shop Name :</label>
            <input type="text" name="username"/><br />
            <label> Password :</label>
            <input type="password" name="password"/><br/>
            <input type="submit" value=" Sign up "/><br />
          </form>
          </div>
      </div>
  </div>
</div>
</div>
</div>

  </ion-content>
</ion-content>
